{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="col-3">
        <div class="container">
            <h1>Login Form</h1>
            <form method="post" class="my-class">
                {% csrf_token %}
                {{form | crispy}}
                <br>
                <p>
                    <button type="submit" class="btn btn-success">Login</button>
                    <a href="{% url 'password_reset' %}" class="btn btn-link"> Forgot Your Password? </a>
                </p>
            </form>
        </div>
    </div>
{% endblock content %}