{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Password Reset Confirmation {% endblock %}

{% block content %}
    <div class="col-6">
        <div class="container">
            <h1> Password Reset Confirmation </h1>
            <p>
              Please enter your new password twice
              so we can verify you typed it in correctly.
            </p>
            <form method="post" class="my-class">
                {% csrf_token %}
                {{form | crispy}}
                <br>
                <input type="submit" value="Reset My Password" class="btn btn-success">
            </form>
            <br>
        </div>
    </div>
{% endblock content %}